/* retroStyle.css */
.root {
    -fx-background-color: #e6e6e6;
}

.label-title {
    -fx-font-size: 18;
    -fx-text-fill: #cc0000;
}

.text-field {
    -fx-background-color: #f2f2f2;
    -fx-border-color: #cc0000;
    -fx-border-width: 2;
    -fx-font-size: 14;
}

.button {
    -fx-background-color: #cc0000;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14;
}
